:root {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 16px;
}

body {
  margin: 0;
  padding: 0;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 1rem 6rem;
  background-color: #5da271;
  color: white;
}

.container {
  flex-direction: column;
  display: flex;
  align-items: center;
  padding: 1rem 4rem;
  width: 70%;
  margin: auto;
}

#formDialog {
  border: none;
  border-radius: 10px;
}

#formDialog::backdrop {
  background-color: rgba(0, 0, 0, 0.52);
}

#closeDialog {
  display: flex;
  justify-content: end;
}

#addBookForm {
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 1rem;
}

#addBookForm > div {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

#addBookForm > .horizontalField {
  flex-direction: row;
  align-items: center;
}

#addBookForm > .horizontalField > button {
  flex: 1;
}

#checkbox {
  width: 1rem;
  height: 1rem;
}

hr {
  width: 100%;
}

#catalog {
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}

#catalog > .card {
  background-color: rgb(238, 235, 235);
  height: fit-content;
  width: 25%;
  padding: 2rem;
  border-radius: 1rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.actionButton {
  width: 80%;
  margin-top: 5px;
}

button {
  border: none;
  border-radius: 10px;
  padding: 0.7rem;
}

/* Styling Classes */
.positive {
  background-color: #446bf7;
  color: #ffffff;
}

.danger {
  background-color: #ea3755;
  color: white;
}

.success {
  background-color: #5da271;
  color: #ffffff;
}

.formInput {
  padding: 1rem;
  height: 1rem;
  font-size: 1rem;
}
