:root {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

/* Element Styling */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.2rem 8rem;
  background-color: #5da271;
  color: white;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
}

#header {
  font-size: 2rem;
}

#addBook {
  height: 3.5rem;
}

.container {
  flex-direction: column;
  display: flex;
  align-items: center;
  padding: 1rem 4rem;
}

#formDialog {
  border: none;
  border-radius: 10px;
}

#formDialog::backdrop {
  background-color: rgba(0, 0, 0, 0.52);
}

#closeDialog {
  display: flex;
  justify-content: end;
}

#closeDialogButton {
  display: flex;
}

#addBookForm {
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 1rem;
}

#addBookForm > div {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

#addBookForm > .horizontalField {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#addBookForm > .horizontalField > button {
  flex: 1;
}

#checkbox {
  width: 1.5rem;
  height: 1.5rem;
}

#addButton {
  font-size: 1rem;
  padding: 1rem;
}

#catalog {
  width: 85%;
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: start;
}

#catalog > .card {
  background-color: rgb(238, 235, 235);
  height: fit-content;
  width: 25%;
  padding: 2rem;
  border-radius: 1rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.actionButton {
  width: 80%;
  margin-top: 5px;
}

button {
  border: none;
  border-radius: 10px;
  padding: 0.7rem;
}

/* Styling Classes */
.positive {
  background-color: #446bf7;
  color: #ffffff;
}

.danger {
  background-color: #ea3755;
  color: white;
}

.success {
  background-color: #5da271;
  color: #ffffff;
}

.formInput {
  padding: 1rem;
  height: 1rem;
  font-size: 1rem;
}
